<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.lammasjamie.nom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />                
            </intent-filter>
        </activity>

	    <!-- AddTaskActivity -->
        <activity
            android:name=".AddRecipeActivity"
            android:label="@string/add_recipe_activity_name"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".DetailActivity"
            android:label="Recipe details"
            android:parentActivityName=".MainActivity"/>

        <!-- Register the RecipeContentProvider -->
        <!-- Set name, authorities, and exported attributes -->
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name=".data.RecipeContentProvider"
            android:authorities="uk.co.lammasjamie.nom"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8503115325486711~3815718678"/>


    </application>

</manifest>